/*     CUSTOM PROPERTIES       */

:root {
  /* colors */
  --color-white: #ffffff;
  --color-dark-blue: #0d042b;
  --color-light-blue: #66b4d8;
  --color-green: #227c26;
  --color-yellow: #e5b64e;
  --color-red: #e34242;
  --color-trophy-blue: #3f92c2;
  --color-trophy-green: #0f5311;
  --color-trophy-yellow: #d6942b;
  --color-trophy-red: #d32323;

  /* font family */
  --font-family-h1: Crayone;
  --font-family-p: Lato Regular;
  --font-family-nav-a: Crayone;
  --font-family-gallery-flashcard-p: Lato Bold;
  --font-family-category-flashcard-h2: Lato Bold;
  --font-family-category-flashcard-p: Lato Bold;
  --font-family-category-option-p: Lato Regular;
  --font-family-achievement-h2: Lato Bold;
  --font-family-achievement-p: Lato Regular;
  --font-family-form-h1: Lato Bold;
  --font-family-form-input: Lato Regular;
  --font-family-form-button: Lato Regular;
  --font-family-form-p: Lato Regular;
  --font-family-admin-category-options-p: Lato Regular;

  /* font size */
  --font-size-h1: 58px;
  --font-size-p: 22px;
  --font-size-nav-a: 35px;
  --font-size-gallery-flashcard-p: 22px;
  --font-size-category-flashcard-h2: 36px;
  --font-size-category-flashcard-p: 26px;
  --font-size-category-option-p: 25px;
  --font-size-achievement-h2: 25px;
  --font-size-achievement-p: 18px;
  --font-size-form-h1: 45px;
  --font-size-form-input: 20px;
  --font-size-form-button: 25px;
  --font-size-form-p: 20px;
  --font-size-welcome: 42px;
  --font-size-admin-category-options-p: 18px;
}

/*      FONTS       */

@font-face {
  font-family: "Crayone";
  src: url("../fonts/Crayone.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

/*      GENERAL       */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--font-family-h1);
  font-size: var(--font-size-h1);
  font-weight: 400;
  color: var(--color-dark-blue);
}

p {
  font-family: var(--font-family-p);
  font-size: var(--font-size-p);
  line-height: 1.4;
}

nav a {
  font-family: var(--font-family-nav-a);
  font-size: var(--font-size-nav-a);
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

footer p {
  color: var(--color-dark-blue);
  font-size: var(--font-family-form-input);
}

input,
input::placeholder {
  font-family: var(--font-family-form-input);
  font-size: var(--font-size-form-input);
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #ececec;
  padding: 8px 10px;
  border: none;
}

button {
  font-family: var(--font-family-form-button);
  font-size: var(--font-size-form-button);
  padding: 15px 50px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  cursor: pointer;
}

/*      NAVIGATION       */

nav {
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 0 5% 10px 5%; */
  padding: 0 7%;
  height: 75px;
}

nav #nav-logo-container {
  width: 30%;
  /* display: flex;
  align-items: center; */
}

nav #nav-logo-container svg {
  width: 180px;
  cursor: pointer;
}

nav #nav-items-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #nav-items-container span {
  color: var(--color-white);
  font-size: 45px;
  cursor: pointer;
}

#account-button-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-1 {
  color: var(--color-light-blue);
}

.nav-item-2 {
  color: var(--color-yellow);
}

.nav-item-3 {
  color: var(--color-red);
}

.nav-item-4 {
  color: var(--color-green);
}

#home-header-container {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 75px);
}

/*      HOME HEADER       */

#home-header-container {
  display: flex;
  align-items: center;
  padding-left: 7%;
}

#home-header-information-container {
  width: 35%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

#home-header-information-container p,
#home-header-information-container h1 {
  color: var(--color-white);
}

#home-header-information-container button {
  background-color: var(--color-yellow);
  margin-top: 25px;
}

#home-header-information-container #home-header-welcome {
  color: var(--color-yellow);
  font-size: var(--font-size-welcome);
  margin-bottom: -15px;
}

#home-header-welcome-container {
  display: flex;
  flex-direction: column;
}

/*      LOGIN / SIGN       */

#login-main-container,
#sign-main-container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}

#login-image-container,
#sign-image-container {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#login-image-container {
  background-image: url(../images/log-in.jpg);
}

#sign-image-container {
  background-image: url(../images/sign-up.jpg);
}

#login-form-container,
#sign-form-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -3px 0px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 0px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 0px 17px -8px rgba(0, 0, 0, 0.75);
}

#login-form-container form,
#sign-form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  width: 60%;
}

#login-form-container form div,
#sign-form-container form div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 20px;
}

#login-form-container p,
#sign-form-container p {
  font-family: var(--font-family-form-p);
  font-size: var(--font-size-form-p);
}

#login-form-container a,
#sign-form-container a {
  color: black;
  text-decoration: underline;
}

#login-form-container h1,
#sign-form-container h1 {
  font-family: var(--font-family-form-h1);
  font-size: var(--font-size-form-h1);
}

#login-form-container h1 {
  color: var(--color-green);
}

#sign-form-container h1 {
  color: var(--color-light-blue);
}

#login-form-container button {
  background-color: var(--color-green);
}

#sign-form-container button {
  background-color: var(--color-light-blue);
}

#logout-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 40px !important;
}

/*      CANVAS     */

#draw-main-container {
  padding: 100px 7% 70px 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 3px solid var(--color-green);
  border-top: none;
  cursor: none;
  height: 100%;
  width: 100%;
}

#canvas-container {
  width: 1000px;
  height: auto;
}

#canvas-wrapper {
  width: 100%;
  height: 562px;
}

#canvas-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  /* padding: 10px 30px; */
  padding: 0 30px;
  column-gap: 10px;
  position: relative;
  z-index: 99;
  height: 50px;
}

#canvas-options > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#color-picker-wrapper,
#brush-size-wrapper {
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-color: #000;
  border: solid 3px var(--color-white);
  border-radius: 20px;
  cursor: pointer;
}

#brush-size-wrapper {
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

#brush-size-sub-wrapper {
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  border-radius: 20px;
  cursor: pointer;
}

#color-picker-wrapper input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#color-picker {
  opacity: 0;
}

#brush-wrapper,
#eraser-wrapper,
#undo-wrapper,
#delete-wrapper,
#save-wrapper {
  min-width: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eraser-wrapper {
  margin-left: -10px;
}

#brush,
#eraser,
#undo,
#delete,
#save,
#save-to-device {
  font-size: 36px;
  color: var(--color-white);
}

#eraser {
  rotate: -45deg;
}

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  margin-left: -5px;
  margin-top: -5px;
}

#brush-size-container {
  position: absolute;
  background-color: var(--color-green);
  padding: 20px;
  z-index: 2;
  margin-top: 100px;
}

#drawing-save-form,
.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 50px;
}

#drawing-save-form input[type="text"],
.form input[type="text"] {
  width: 500px;
}

#drawing-save-form h1,
.form h1 {
  font-family: var(--font-family-form-h1);
  font-size: var(--font-size-form-h1);
}

/*      POPUP     */

#popup-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000cc;
  z-index: 9998;
}

#popup,
.popup {
  width: auto;
  height: auto;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  z-index: 9999;
}

/*      CATEGORIES       */

#categories-main-container {
  padding: 100px 7% 40px 7%;
}

#categories-h1-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#categories-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.category-container {
  border: 5px solid var(--color-red);
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 16px -4px rgba(0, 0, 0, 0.75);
}

.category-h2-container {
  background-color: var(--color-red);
  padding: 15px 25px;
}

.category-h2-container h2 {
  color: var(--color-white);
  font-family: var(--font-family-category-flashcard-h2);
  font-size: var(--font-size-category-flashcard-h2);
}

.category-items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 25px;
}

.category-item a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-item img {
  width: 100%;
  filter: brightness(50%);
  vertical-align: middle;
}

.category-item p {
  position: absolute;
  color: var(--color-white);
  font-family: var(--font-family-category-flashcard-p);
  font-size: var(--font-size-category-flashcard-p);
}

/*      TUTORIAL     */

#tutorial-main-container {
  padding: 50px 7% 100px 7%;
}

#tutorial-h1-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#tutorial-information-container {
  /* width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr; */
  column-gap: 30px;
  display: flex;
  align-items: stretch; /* Ensures equal height for both containers */
  height: 515px;
}

#tutorial-video-container,
#tutorial-canvas-container {
  flex: 1; /* Distributes the available space equally */
}

/* #tutorial-video-container {
  height: 100%;
} */

#tutorial-video-container iframe {
  width: 100%;
  height: 100%;
}

/* #tutorial-canvas-container {
  width: 800px;
} */

#tutorial-canvas-container #canvas-wrapper {
  /* height: 450px; */
  height: calc(100% - 50px);
}

#tutorial-canvas-container img {
  width: 100%;
}

/*      GALLERY       */

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 44px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1cce2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-dark-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#gallery-main-container {
  padding: 100px 7% 40px 7%;
}

#gallery-h1-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#gallery-h1-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

#gallery-items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.gallery-grid-item {
  border: 3px solid var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-grid-item-img-container {
  width: 100%;
  height: auto;
}

.gallery-grid-item-img-container img {
  width: 100%;
  vertical-align: middle;
}

.gallery-grid-item-information-container {
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.gallery-grid-item-information-container p {
  font-family: var(--font-family-gallery-flashcard-p);
  font-size: var(--font-size-gallery-flashcard-p);
  color: var(--color-white);
}

.gallery-grid-item-information-container span {
  color: var(--color-white);
  font-size: 30px;
  cursor: pointer;
}

/*      ACHIEVEMENTS       */

#achievements-main-container {
  padding: 100px 7% 40px 7%;
}

#achievements-h1-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#achievements-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.achievements-grid-item {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--color-dark-blue);
}

.achievements-grid-item-img-container {
  width: 100px;
}

.achievements-grid-item-done-container {
  width: 50px;
}
.achievements-grid-item-img-container img {
  width: 100%;
  vertical-align: middle;
}

.achievements-grid-item-done-container img {
  width: 100%;
}

.achievements-grid-item-information-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: calc(100% - 100px);
}

.achievements-grid-item-information-subcontainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.achievements-grid-item-information-subcontainer h2 {
  font-family: var(--font-family-achievement-h2);
  font-size: var(--font-size-achievement-h2);
  color: var(--color-white);
}

.achievements-grid-item-information-subcontainer p {
  font-family: var(--font-family-achievement-p);
  font-size: var(--font-size-achievement-p);
  color: var(--color-white);
}

.blue-achievement {
  background-color: var(--color-light-blue);
}

.green-achievement {
  background-color: var(--color-green);
}

.yellow-achievement {
  background-color: var(--color-yellow);
}

.red-achievement {
  background-color: var(--color-red);
}

.blue-achievement-trophy {
  background-color: var(--color-trophy-blue);
}

.green-achievement-trophy {
  background-color: var(--color-trophy-green);
}

.yellow-achievement-trophy {
  background-color: var(--color-trophy-yellow);
}

.red-achievement-trophy {
  background-color: var(--color-trophy-red);
}

#achievements-footer {
  margin-top: 60px;
}

/*      LOGIN ADMIN     */

#login-admin-main {
  background-color: var(--color-dark-blue);
  width: 100vw;
  height: 100vh;
}

#login-admin-form-container {
  width: auto;
  height: auto;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  z-index: 9999;
}

#login-admin-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 50px;
}

#login-admin-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#login-admin-form input[type="text"],
#login-admin-form input[type="password"] {
  width: 500px;
}

#login-admin-form h1 {
  font-family: var(--font-family-form-h1);
  font-size: var(--font-size-form-h1);
  color: var(--color-green);
}

#login-admin-form button {
  background-color: var(--color-green);
}

/*      CATEGORIES ADMIN     */

#categories-admin-main {
  padding: 100px 7% 40px 7%;
}

#categories-admin-main button {
  background-color: var(--color-green);
}

nav #nav-items-container-admin {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #nav-items-container-admin span {
  color: var(--color-white);
  font-size: 45px;
  cursor: pointer;
}

#admin-categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

#admin-categories-container .category-container {
  width: calc(50% - 25px);
}

#admin-categories-container .category-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#admin-categories-container .category-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 25px;
}

#admin-categories-container .category-item p {
  margin-top: -25px;
}

.admin-category-options {
  /* position: absolute; */
  background-color: var(--color-dark-blue);
  width: 100%;
  height: 45px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-category-options hr {
  height: 25px;
}

.admin-category-options span {
  color: var(--color-white);
  font-size: 28px;
}

#admin-categories-container .category-h2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 25px;
}

#admin-categories-container .category-h2-container span {
  color: var(--color-white);
  font-size: var(--font-size-category-flashcard-h2);
}

.admin-category-option-container {
  background-color: var(--color-white);
  padding: 20px;
  border: 2px solid var(--color-dark-blue);
  position: absolute;
  z-index: 5;
}

.admin-category-option-container p {
  font-size: var(--font-size-admin-category-options-p);
  font-family: var(--font-family-admin-category-options-p);
}

.admin-category-option-container hr {
  border: 0.5px solid var(--color-dark-blue);
  margin: 10px 0;
}

.admin-category-option-upper-subcontainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#admin-category-popup .form h1 {
  color: var(--color-yellow);
}

#admin-category-popup .form button {
  background-color: var(--color-yellow);
}

#admin-category-popup .form .cancel-button {
  background-color: var(--color-green);
}

#admin-category-popup .form .delete-button {
  background-color: var(--color-red);
}

#admin-category-popup .form #delete-h1 {
  color: var(--color-red);
}

#admin-category-popup .form .add-tutorial-button {
  background-color: var(--color-green);
}

#admin-category-popup .form #add-tutorial-h1 {
  color: var(--color-green);
}

#add-tutorial-form label {
  font-size: 24px;
  font-family: var(--font-family-form-p);
}

#add-tutorial-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

#add-tutorial-input-container div {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

#logout-btn {
  background-color: var(--color-dark-blue);
  padding: 0;
  font-size: 45px;
}

#logout-btn span {
  margin-top: 10px;
}

/*      ACHIEVEMENTS ADMIN     */

#achievements-admin-main {
  padding: 100px 7% 40px 7%;
}

#achievements-admin-main button {
  background-color: var(--color-green);
}

#achievements-admin-main #achievements-items-container {
  margin-top: 50px;
}

.achievements-grid-item-done-container span {
  color: var(--color-white);
  font-size: var(--font-size-category-flashcard-h2);
  cursor: pointer;
}

#achievements-admin-main .achievements-grid-item-information-container {
  padding: 0 20px 0 40px;
}

.admin-achievement-option-container {
  background-color: var(--color-white);
  padding: 20px;
  border: 2px solid var(--color-dark-blue);
  position: absolute;
  z-index: 5;
}

.admin-achievement-option-container p {
  font-size: var(--font-size-admin-category-options-p);
  font-family: var(--font-family-admin-category-options-p);
  cursor: pointer;
}

#admin-achievement-popup .form .cancel-button {
  background-color: var(--color-green);
}

#admin-achievement-popup .form .delete-button {
  background-color: var(--color-red);
}

#admin-achievement-popup .form #delete-h1 {
  color: var(--color-red);
}

#admin-achievement-popup .form .add-tutorial-button {
  background-color: var(--color-green);
}

#admin-achievement-popup .form #add-tutorial-h1 {
  color: var(--color-green);
}

#add-achievement-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

select {
  background-color: #ececec;
  padding: 8px 10px;
  border: none;
}

/*      UNAUTHORIZED     */

#unauthorized-main {
  background-color: var(--color-dark-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#unauthorized-main h1,
a {
  color: var(--color-white);
}

#unauthorized-main button {
  background-color: var(--color-yellow);
}

/*      RESPONSIVE     */

@media screen and (max-width: 1440px) {
  :root {
    /* font size */
    --font-size-h1: 50px;
    --font-size-p: 20px;
    --font-size-nav-a: 26px;
    --font-size-gallery-flashcard-p: 22px;
    --font-size-category-flashcard-h2: 32px;
    --font-size-category-flashcard-p: 26px;
    --font-size-category-option-p: 25px;
    --font-size-achievement-h2: 25px;
    --font-size-achievement-p: 18px;
    --font-size-form-h1: 45px;
    --font-size-form-input: 20px;
    --font-size-form-button: 22px;
    --font-size-form-p: 20px;
    --font-size-welcome: 36px;
    --font-size-admin-category-options-p: 18px;
  }

  nav #nav-items-container {
    width: 55%;
  }

  #home-header-information-container {
    height: 450px;
  }

  #categories-main-container,
  #categories-admin-main,
  #achievements-main-container,
  #achievements-admin-main {
    padding: 70px 7% 80px 7%;
  }

  #tutorial-main-container {
    padding: 70px 7% 130px 7%;
  }

  #draw-main-container {
    padding: 70px 7% 30px 7%;
  }

  #gallery-main-container {
    padding: 70px 7% 100px 7%;
  }

  #login-form-container form,
  #sign-form-container form {
    row-gap: 60px;
  }

  #tutorial-information-container {
    height: 382px;
  }

  .admin-category-option-container,
  .admin-achievement-option-container {
    margin-left: -144px;
  }

  #admin-categories-container .category-items-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .admin-category-options {
    padding: 0 50px;
  }

  #add-tutorial-form label {
    font-size: 22px;
  }

  nav #nav-items-container-admin {
    width: 35%;
  }

  #achievements-footer {
    margin-top: 0;
  }

  #categories-container {
    row-gap: 60px;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    /* font size */
    --font-size-h1: 50px;
    --font-size-p: 18px;
    --font-size-nav-a: 24px;
    --font-size-gallery-flashcard-p: 22px;
    --font-size-category-flashcard-h2: 32px;
    --font-size-category-flashcard-p: 26px;
    --font-size-category-option-p: 25px;
    --font-size-achievement-h2: 25px;
    --font-size-achievement-p: 18px;
    --font-size-form-h1: 45px;
    --font-size-form-input: 20px;
    --font-size-form-button: 22px;
    --font-size-form-p: 20px;
    --font-size-welcome: 36px;
    --font-size-admin-category-options-p: 18px;
  }

  #gallery-items-container {
    grid-template-columns: repeat(4, 1fr);
  }
  #home-header-information-container {
    height: 400px;
  }

  #draw-main-container,
  #categories-main-container,
  #categories-admin-main,
  #gallery-main-container,
  #achievements-main-container,
  #tutorial-main-container,
  #achievements-admin-main {
    padding: 50px 7% 40px 7%;
  }

  .admin-category-options {
    padding: 0 45px;
  }
}
